Free Sharp Player/bin/
Free Sharp Player/obj/
Free Sharp Player/ApiKey.txt
Free Sharp Player/Misc/ApiKey.txt
Free Sharp Player/UI/MainWindow.xaml - Copy.cs
Free Sharp Player/UI/ViewModels/MainModel - Copy.cs
